<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="page">
    <div id="toolbar">
        <label>关键词</label><input type="text" v-model="toolbar.keyword">
        <label>是否删除</label>
        <select v-model="toolbar.isDelete">
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
        <input type="hidden" v-model="table.page">

        <button @click="query(toolbar.keyword, toolbar.isDelete, table.page)">查询</button>
    </div>

    <div id="table">
        <table border=1>
            <thead><th>关键词</th><th>是否删除</th><th>创建时间</th><th>操作</th></thead>
            <tbody>
            <tr v-for="item in tableList">
                <td>{{item.keyword}}</td>
                <td>{{item.isDelete}}</td>
                <td>{{item.createTime}}</td>
                <td>
                    <button @click="openEdit(item.keyword, item.isDelete)">编辑</button>
                    <button @click="del(item.keyword)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            总共{{table.totalNum}}条数据， 共{{table.totalPage}}页，每页{{table.pageSize}}, 当前第{{table.page}}页
            <button @click="query(toolbar.keyword, toolbar.isDelete, 1)">首页</button><button>上一页</button>
            <span></span><button>下一页</button><button @click="query(toolbar.keyword, toolbar.isDelete, table.totalPage)">末页</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="./jquery.js"></script>
<script type="text/javascript" src="./vue.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>